.account-page {
  .content-wrapper {
    background-color: $color-bg-1;
    box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 7%);
    margin-bottom: 200px !important;
    // max-width: 1000px;

    // 1. DASHBOARD (Left side)
    .dashboard {
      border-right: 1px solid rgba($color-text-3, 0.1);
      &-wrapper {
        .profile-picture {
          .avatar {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            overflow: hidden;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .points {
            color: var(--text-color);
          }
        }
        .options {
          .item {
            font-size: 16px;
            .icon {
              font-size: 20px;
            }
            &:hover {
              color: var(--text-color);
              cursor: pointer;
              transform: translateX(3px);
              transition: all 0.4s ease-in-out;
            }
            &:focus {
              color: var(--text-color);
            }
          }
        }
      }
    }

    // 2. MAIN INFORMATION (Right side)
    .account-main {
      &-wrapper {
        padding: 40px 20px;
        margin: 0 auto;
        max-width: 700px;

        // MAIN INFORMATION includes: SETTINGS, MY ORDERS
        .settings,
        .my-orders,
        .my-reviews,
        .payment-info {
          .title {
            font-size: 27px;
            text-transform: uppercase;

            background-clip: text;
            background-image: linear-gradient(
              to right,
              var(--gradient1),
              var(--gradient2)
            );
            color: transparent;
          }

          .field {
            .label {
              color: rgba($color-text-6, 0.9);
              font-size: 17px;
            }
            .input {
              color: rgba($color-text-1, 0.7);
              padding: 14px 20px;
              border: none;
              width: 100%;
              max-width: 600px;
              background-color: rgba($color-bg-4, 0.4);
              border-radius: 4px;

              &:focus {
                box-shadow: 0 3px 0 0 var(--theme-color-light7);
              }
            }
            .half {
              width: 48%;
            }
            .sub-label {
              color: rgba($color-text-6, 0.9);
            }
          }

          .account-settings {
            border-bottom: 1px solid rgba($color-text-3, 0.1);
          }
        }

        .my-orders {
          .order-card {
            background-color: white;
            border: 1px solid rgba($color-text-3, 0.3);
            border-radius: 5px;
            margin: 20px 10px;
            padding: 19px 19px 19px 25px;

            .date,
            .total,
            .items {
              font-size: 15px;
              display: inline-block;
            }

            .item {
              transition: height 0.5s linear;

              .image {
                img {
                  width: 90px;
                  height: 90px;
                  object-fit: cover;
                }
              }
              .description {
                font-size: 14px;
              }
            }
          }
          .order-card:hover {
            cursor: pointer;
            box-shadow: 0 5px 0 0 var(--theme-color-light7);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .account-page {
    .content-wrapper {
      .dashboard {
        border-right: none;
        width: 80%;
      }
      .account-main {
        &-wrapper {
          padding: 20px 30px;

          // for all
          .title {
            text-align: center;
          }

          .settings {
            .field {
              .input {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .account-page {
    .content-wrapper {
      .dashboard {
        width: 100%;
        &-wrapper {
          flex-direction: column !important;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
