.cart-list {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  .cart-list-inner {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 95vh;
    width: 450px;
    overflow-y: auto;
    background-color: $color-bg-1;
    box-shadow: 0px 2px 2px 0px rgba($color-bg-3, 0.2);

    .close-btn {
      position: fixed;
      top: 0;
      right: 0;
      font-size: 27px;
      &:hover {
        cursor: pointer;
        color: var(--theme-color);
      }
    }

    .title {
      font-size: 20px;
    }
    .cart-item-wrapper {
      // border-bottom: 1px solid $color-text-3;
      .cart-item {
        position: relative;
        border-bottom: 1px solid rgba($color-text-6, 0.3);

        .image {
          img {
            width: 70px;
            height: 80px;
            object-fit: cover;
          }
        }

        .detail {
          width: calc(100% - 90px);

          .name {
            font-size: 15px;
          }
          a:hover,
          .name:hover {
            color: initial;
          }
          .choice {
            font-size: 14px;
            &-color:after {
              content: '-';
              margin: 0 8px;
            }
            &-color,
            &-size {
              color: $color-text-6;
            }

            &-quantity {
              i.icon {
                font-size: 19px;

                &:hover {
                  color: $color-text-5;
                  transform: scale(1.3);
                  cursor: pointer;
                }
              }
            }
          }

          .price {
            font-size: 14px;
            color: $color-text-6;
            .old-price {
              color: $color-text-3;
              text-decoration: line-through;
            }
            .sale-price {
              color: $global-color-4;
            }
            .quantity::before {
              content: 'x';
              margin-right: 10px;
            }
          }
        }

        .remove-icon {
          font-size: 18px;
          position: absolute;
          top: 0;
          right: 0;
          &:hover {
            color: var(--text-color);
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        .item-total {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

    .subtotal {
      .title {
        margin-left: 80px;
        font-size: 17px;
      }
      .total {
        color: $global-color-5;
      }
    }

    .free-shipping {
      color: $color-text-6;
      padding-top: 40px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .cart-list {
    .cart-list-inner {
      height: 100vh;
      width: 100vw;
    }
  }
}
@media only screen and (max-width: 380px) {
  .cart-item {
    .item-total {
      margin-top: 10px;
      position: static !important;
    }
  }
}
