.header {
  background-color: $color-bg-1;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;

  // 1. BRAND LOGO (left corner)
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: -10px;
    .title {
      font-family: $font-3;
      font-size: 2.4rem;
      color: $color-text-1;
    }
    &:hover {
      color: initial;
    }
  }

  // 2. DESKTOP NAV (middle, only visible for desktop)
  .desktop-nav {
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;

      &:hover {
        color: $global-color-5;
        // cursor: pointer;
      }
    }
    .sale {
      background-color: rgba($global-color-5, 0.9);
      color: $color-text-2;
      &:hover {
        color: $color-text-2;
      }
    }
    .shop-wrapper {
      position: relative;
      .shop {
        &:after {
          content: '+';
          width: 5px;
          margin-left: 5px;
        }
      }
      .shop:hover {
        &:after {
          content: '-';
        }
      }
      &:hover {
        .shop-dropdown {
          display: block;
          visibility: visible;
        }
      }

      // ShopDropdown component (inside DesktopNav)
      .shop-dropdown {
        position: absolute;
        top: 40px;
        left: 0;
        min-width: 180px;
        .content {
          background-color: $color-bg-1;
          box-shadow: 0px 1px 2px 0px rgba($color-text-3, 0.4);
        }

        // to put dropdown below navbar & still be able get hover effect
        .gap-fill {
          height: 29px;
        }
        .item {
          padding: 10px 10px;
          font-size: 15px;
        }
      }
    }
  }

  // 3. ICON GROUPS (right Side)
  .icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-size: 14px;
      .icon {
        font-size: 20px;
      }
    }
    .item:hover {
      .icon,
      .name {
        color: $global-color-5;
        cursor: pointer;
      }
    }

    .account-wrapper,
    .favourite-wrapper,
    .cart-wrapper {
      position: relative;
    }
    .favourite-count,
    .cart-count {
      position: absolute;
      top: -8px;
      left: 20px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $global-color-5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-text-2;
      font-size: 11px;

      &:hover {
        cursor: pointer;
      }
    }

    // 4a. MOBILE BUTTON (only visible on mobile screen)
    .mobile-wrapper {
      position: relative;
      .icon {
        font-size: 25px;
      }
    }
  }

  // 4b. MOBILE MENU (only visible on mobile)
  // inside .mobile-wrapper (in icon-group)
  .mobile-menu {
    position: absolute;
    top: 57px;
    left: 0;
    background-color: pink;
  }
}
