.header {
  background-color: $color-bg-1;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e0e0e0;
  z-index: 5;

  .logo {
    font-family: $font-3;
    font-size: 2.4rem;
  }
  .logo:hover {
    color: initial;
  }

  .nav-item {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-item,
  .navbar-nav {
    padding-top: 25px; // to push dropdown below the navbar
    padding-bottom: 25px;
  }

  a:hover,
  .icon:hover {
    color: $global-color-5;
    cursor: pointer;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(https://cdn4.iconfinder.com/data/icons/core-ui-filled-1/32/filled_menu-512.png) !important;
    transform: scaleX(-1);
  }

  .navbar-toggler {
    border-color: transparent;
  }

  .icon-group {
    .icon {
      margin-left: 14px;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    span {
      font-size: 14px;
    }
  }

  .sale {
    position: relative;
    .tag {
      position: absolute;
      top: 0;
      left: 18px;
      background: url('../../images/hotdeal.jpg') top no-repeat;
      background-size: cover;

      z-index: -1;
      height: 38px;
      width: 50px;
      transform: rotate(-7deg);
    }
  }

  /* Dropdown Button */
  .dropbtn {
    border: none;

    &:after {
      margin-left: 5px;
      content: '+';
      width: 5px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover {
    .dropbtn {
      color: $global-color-5;
    }
    .dropbtn:after {
      content: '-';
      width: 5px;
    }
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-bg-1;
    min-width: 170px;
    box-shadow: 0px 8px 6px 0px rgba($color-text-3, 0.8);
    z-index: 1;

    /* Links inside the dropdown */
    & a {
      padding: 12px 16px;
      display: block;
    }

    /* Change color of dropdown links on hover */
    & a:hover {
      background-color: rgba($color-text-3, 0.2);
      color: initial;
    }
  }

  @media only screen and (min-width: 992px) {
    /* Show the dropdown menu on hover */
    .dropdown:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .dropdown-content.show {
      display: block;
      position: relative;
      box-shadow: none;
      padding-left: 20px;
    }
    .nav-item {
      padding: 15px 10px;
    }

    .sale {
      .tag {
        position: absolute;
        top: 0;
        left: 32px;
      }
    }
  }
}
