.product-slider {
  padding: 0 20px 0 10px;

  .tns-outer {
    position: relative;

    .tns-controls {
      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: 0;
        font-size: 30px;
        color: $color-text-6;
        z-index: 5;
      }

      & > :first-child {
        position: absolute;
        top: 45%;
        left: -7px;
        transform: translateY(-50%);
      }

      & > :nth-child(2) {
        position: absolute;
        top: 45%;
        right: -22px;
        transform: translateY(-50%);
      }
    }

    // fix slider issue: not showing sale tag on top of product card
    .tns-ovh {
      overflow-x: clip !important;
      overflow: visible;
    }

    .tns-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin: 0 3px;
        padding: 0;
        min-width: 10px;
        min-height: 10px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $color-text-3;
      }
      button.tns-nav-active {
        background-color: rgba($global-color-5, 0.7);
        border: none;
      }
    }

    // Fix error showing double navigation indicator when clicking on product
    // #tns1-mw .tns-inner .tns-outer .tns-nav {
    //   display: none;
    // }
  }
}
