.category {
  &-card {
    width: 100%;
    height: 100%;
    .image-cropper {
      width: 130px;
      height: 130px;
      // position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
    .image {
      width: 100%;
      height: 100%;
    }
  }
}
