.custom-button {
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 25px;
  display: inline-block;
  transition: background-size 0.5s 0s;
  font-size: 15px;
  background: linear-gradient(
    to right,
    rgba(238, 238, 238, 0.5),
    rgba(238, 238, 238, 0.5)
  );
  background-repeat: no-repeat;
  background-size: 0 100%;

  background-color: $color-bg-1;
  color: $color-text-1;

  &.color {
    background-color: var(--theme-color);
    color: $color-text-2;
    // border: 1px solid $global-color-5;
    border: none;
  }
  &.white {
    box-shadow: 0px 0px 0px 1px black inset;
    border: none;
  }
  &.transparent {
    border: 1px solid white;
    background: linear-gradient(
      to right,
      rgba(238, 238, 238, 0.5),
      rgba(238, 238, 238, 0.5)
    );
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: $color-text-2;
  }
  &.black {
    background-color: $color-bg-2;
    color: $color-text-2;
  }
  &.square {
    border-radius: 0px;
  }
  &.fullWidth {
    width: 100%;
    text-align: center;
  }
}

.custom-button:hover {
  &.slide {
    background-size: 100% 100%;
  }

  &.lighter {
    background-color: var(--theme-color-light9);
  }
}
