.hot-deal {
  // background-color: rgba($color-bg-5, 0.8);
  background-color: $color-bg-5;
  img {
    width: 100%;
    height: 100%;
  }

  .content {
    text-align: center;

    .title {
      font-size: 47px;
    }

    .countdown {
      font-size: 40px;
      color: $color-text-6;
    }

    .custom-button {
      background-color: $global-color-5;
      color: $color-text-2;
    }
  }
}
