.ImageSlider {
  .image {
    max-height: 95vh;
    object-fit: cover;
  }
  .carousel-caption {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;

    .title {
      font-size: 5rem;
    }

    .custom-button {
      padding: 16px 50px;
      margin-top: 30px;
      // position: absolute;
      // top: 70%;
      // left: 30%;
      // transform: translate(-50%, -50%);
      // z-index: 10;
      // font-size: 16px;
    }
  }

  .reverse {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
