.product-slider {
  padding: 0 20px 0 10px;
  .tns-outer {
    position: relative;

    .tns-controls {
      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: 0;
        font-size: 30px;
        color: $color-text-6;
        z-index: 5;
      }

      & > :first-child {
        position: absolute;
        top: 45%;
        left: -7px;
        transform: translateY(-50%);
      }

      & > :nth-child(2) {
        position: absolute;
        top: 45%;
        right: -22px;
        transform: translateY(-50%);
      }
    }

    .tns-inner {
      // padding-left: 10px;
    }

    // .tns-nav {
    //   button {
    //     background-color: $color-text-6;
    //     border: 0;
    //     // border-radius: 50%;
    //     // width: 5px;
    //     // height: 5px;
    //     margin: 5px;
    //   }
    // }
  }
}
