.stores {
  background-color: $color-bg-5;

  .content {
    h6 {
      color: $color-text-6;
    }
  }
}

@media only screen and (max-width: 600px) {
  .stores {
    .content {
      padding: 0 18px;
    }
  }
}
